Source: extra-sdr-drivers
Maintainer: Jakob Ketterl <jakob.ketterl@gmx.de>
Section: hamradio
Priority: optional
Rules-Requires-Root: no
Standards-Version: 4.2.0
Build-Depends: debhelper (>= 11)
Homepage: https://www.openwebrx.de

Package: extra-sdr-drivers
Architecture: all
Depends: ${misc:Depends},
         soapysdr0.8-module-airspyhf | soapysdr-module-airspyhf,
         soapysdr0.8-module-fcdpp | soapysdr-module-fcdpp,
         soapysdr0.8-module-plutosdr | soapysdr-module-plutosdr,
         soapysdr0.8-module-radioberry [armvhf aarch64] | soapysdr-module-radioberry [armvhf aarch64]
Description: Extra SDR radio drivers
 This meta package installs all the extra SDR device drivers and libraries
 from the OpenWebRX repository.
